@page "/SearchProducer"
@using Domain.Models
@using System.Linq
@using Microsoft.EntityFrameworkCore
@using Blazor.Data
@inject AppDbContext _context
@inject NavigationManager NavigationManager

<input type="text" @bind="searchTerm" placeholder="Enter The Full Name For Searching">
<button type="button" class="btn btn-primary btn-sm" @onclick="Search">Search</button>

<h3>Search Producer</h3>
<hr />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Full Name Producer</th>
            <th>Bio Producer</th>
            <th>Picture Producer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producer in filteredProducers)
        {
            <tr>
                <td>@producer.Id</td>
                <td>@producer.Bio</td>
                <td>
                    @if (!string.IsNullOrEmpty(producer.ProfilePictureURL))
                    {
                        <img src="@producer.ProfilePictureURL" alt="Producer's Picture" width="100" height="100" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary btn-sm" @onclick="@HideProducerAsync" value="Hide Search" />
        </div>
    </div>
</div>




@code {
    private string searchTerm = "";
    private List<Producer> producers = new List<Producer>();

    private List<Producer> filteredProducers = new List<Producer>();

    private void Search()
    {
        if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            filteredProducers = _context.Producers
            .Where(producer => producer.FullName.Contains(searchTerm)).ToList();
        }
        else
        {
            filteredProducers = _context.Producers.ToList();
        }
    }

    protected async void HideProducerAsync()
    {

        NavigationManager.NavigateTo("Producers");
    }

    // protected async void DetailsProducerAsync()
    // {
    //     NavigationManager.NavigateTo($"/ViewProducer/{Id}");
    // }
}
